body {
  margin: 0px;
}

.back {
  display: block;
  padding: 20px;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: lightgrey;
  border-radius: 10%;

  font-family: "Special Gothic", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ff7221;
}
