body, html {
  height: 100%;
  margin: 0;
}

body {
  /* background-color: red; */
  /* font-size: 10rem; */
}

main {
  /* background-color:red; */
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;
}

.back {
  display: block;
  padding: 20px;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: lightgrey;
  border-radius: 10%;

  font-family: "Special Gothic", sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ff7221;
}
